*~
*.o
*.os
*.lo
*.so
*.dylib
*.la
*.lai
Makefile*
build
config*
doc
CVS
.sconf_temp
.sconsign.dblite
config.log
.deps
ac*.m4
mkinstalldirs
run-tests.php
install-sh
libtool
ltmain.sh
missing

output.0
requests
traces.0

*.phpt.diff
*.phpt.exp
*.phpt.out
*.phpt.log
*.phpt.php

.svn
\#*

tests/anotherfile
tests/MongoRunner.php
