*~
*.o
*.os
*.lo
*.so
*.dylib
*.la
*.lai
*.libs
*.sw*
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
build
config.*
configure
configure.in
doc
CVS
.sconf_temp
.sconsign.dblite
.deps
ac*.m4
mkinstalldirs
run-tests.php
install-sh
libtool
ltmain.sh
missing

output.0
requests
traces.0

*.phpt.diff
*.phpt.exp
*.phpt.out
*.phpt.log
*.phpt.php

.svn
\#*


*.diff
*.exp
*.log
*.out
*.mem
tests/*/*/*.php
tests/*/*/*.sh
tests/*/*.sh
php.ini
tmp-php.ini

tests/utils/cfg.inc

.coverage
coverage

mcon/tests/sc-test1
mcon/tests/rc-test1
mcon/tests/rp-test1
mcon/tests/rp-test2
mcon/tests/hash-test1
mcon/tests/parse-test1
mcon/tests/parse-test2
mcon/tests/shc-test1
mcon/tests/auth-test1

mongo-1*.tgz
mongo-1*.tar
