*~
*.o
*.os
*.lo
*.so
*.dylib
*.la
*.lai
*.libs
*.sw*
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
build
config*
doc
CVS
.sconf_temp
.sconsign.dblite
config.log
.deps
ac*.m4
mkinstalldirs
run-tests.php
install-sh
libtool
ltmain.sh
missing

output.0
requests
traces.0

*.phpt.diff
*.phpt.exp
*.phpt.out
*.phpt.log
*.phpt.php

.svn
\#*

tests/anotherfile
tests/MongoRunner.php
tests/unit
tests/*/*.diff
tests/*/*.exp
tests/*/*.log
tests/*/*.out
tests/*/*.mem
tests/*/*.php
tests/*/*.sh
tmp-php.ini

tests/mongo-test-cfg.inc

.coverage
coverage

mcon/tests/sc-test1
mcon/tests/rc-test1
mcon/tests/rp-test1
mcon/tests/rp-test2
mcon/tests/hash-test1
mcon/tests/parse-test1
mcon/tests/parse-test2
mcon/tests/shc-test1

mongo-1*.tgz
mongo-1*.tar
