language: php

php:
  - 5.5
  - 5.4
  - 5.3
#  - 5.2

services:
  - mongodb

env:
  - REPORT_EXIT_STATUS=1

before_script:
  - sudo mkdir -p /data/db
  - sudo chown -R travis /data/
  - ./.travis.scripts/compile.sh
  - MONGO_SERVER_STANDALONE=yes MONGO_SERVER_REPLICASET=yes MONGO_SERVER_MONGOS=yes make servers

notifications:
  email:
    - bjori@php.net

# Run PHPs run-tests.php 
script: REPORT_EXIT_STATUS=1 TEST_PHP_EXECUTABLE=`which php` TEST_PHP_CGI_EXECUTABLE=`which php-cgi` php run-tests.php -q -x --show-diff -g 'FAIL,XFAIL,BORK,WARN,LEAK,SKIP'

