<?php # vim: ft=php
/*
 * Example config file.
 * Copy this file to mongo-test-cfg.inc and adjust the values
 * to match your setup.
 *
 * Server types you do not have (i.e. standalone or secondary)
 * should be set to FALSE.
 *
 * For example, if you only have a replicaset running (no standalone)
 * then set $STANDALONE_HOSTNAME = FALSE;
 *
 * There are several testcases that need to emulate MongoDB failures,
 * such as timeouts or primary failover.
 * These testcases require mongobridge setup ($BRIDGE_*).
 * These expect mongobridge to be running with --delay 500
 *
 */
$STANDALONE_HOSTNAME = "standalone.local";
$BRIDGE_STANDALONE_HOSTNAME = "bridge.local";

$STANDALONE_AUTH_HOSTNAME = "standalone.auth.local";
$BRIDGE_STANDALONE_AUTH_HOSTNAME = "";
$STANDALONE_AUTH_ADMIN_USERNAME = "adminusername";
$STANDALONE_AUTH_ADMIN_PASSWORD = "adminpassword";
$STANDALONE_AUTH_USERNAME = "testusername";
$STANDALONE_AUTH_PASSWORD = "testpassword";
$STANDALONE_AUTH_DATABASE = "phpunit";
$STANDALONE_DATABASE      = "phpunit";

$REPLICASET_NAME       = "RS";
$REPLICASET_DATABASE   = "phpunit";
$REPLICASET_PRIMARY    = "primary.rs.local";
$REPLICASET_SECONDARY  = "secondary.rs.local";
$REPLICASET_ARBITER    = "tertiary.rs.local";

$REPLICASET_AUTH_NAME    = $REPLICASET_NAME;
$REPLICASET_AUTH_PRIMARY = "primary.rs-auth.local";
$REPLICASET_AUTH_ADMIN_USERNAME = "adminusername";
$REPLICASET_AUTH_ADMIN_PASSWORD = "adminpassword";
$REPLICASET_AUTH_USERNAME = "testusername";
$REPLICASET_AUTH_PASSWORD = "testpassword";
$REPLICASET_AUTH_DATABASE = "phpunit";

$SHARDING_HOSTNAME = "sharding.local";
$SHARDING_DATABASE = "phpunit";

$STANDALONE_PORT =
    $STANDALONE_AUTH_PORT =
    $REPLICASET_PORT =
    $REPLICASET_PRIMARY_PORT =
    $REPLICASET_SECONDARY_PORT =
    $REPLICASET_ARBITER_PORT =
    $REPLICASET_AUTH_PORT =
    $SHARDING_PORT = 27017;

