<?php
if (!defined("DEBUG")) {
    define("DEBUG", false);
}

$mongo = trim(shell_exec("which mongo"));
$SHELL   = $mongo;


/* You probably don't want to change this */
$SUPER_USER  = (object)array("username" => "root", "password" => "complicated password");
$NORMAL_USER = (object)array("username" => "user", "password" => "this isn't it, is it?");

$JSFILE       = dirname(__FILE__) . "/myconfig.js";
$SHELL_PARAMS = "--nodb --norc --shell $JSFILE";
$MARKER       = "COMMAND DONE";
$QUIT         = "Sorry Matt Damon, we're out of time";


